@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --vinho: #5A0800
}

* {
    padding: 0;
    margin: 0;
    font-family: Kaushan Script
}

body {
    background-color: var(--vinho)
}

div#cartao {
    max-width: 400px;
    height: 200px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

div#cartao > h1 {
    font-size: 15px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}